.banner-area {
  background-image: url(src/assets/images/cookrey-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  transition: all .5s linear;
}
