
.background {
  background-color: #481313;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-align: center;
}

.background ion-icon {
  color: #fff;
  font-size: 35px;
  top: 35px;
  left: 13px;
  position: absolute;
}

.header-text {
  margin-top: 40px;
}

.header-text h2 {
  font-size: 20px
}

.header-text p {
  margin-top: 39px;
  font-size: 18px;
}

.content-main {
  bottom: 20px;
}

.content-main ion-row div.content-title {
  margin: 10px;
}

.content-main ion-row div.content-title p {
  font-weight: 900;
  line-height: 26.3px;
}

.content-main ion-row div.content-title h2 {
  font-weight: bold;
}

.login-form {
  margin-top: 28px;
  width: 100%;
}

.login-form .text-center {
  text-align: center !important;
}

.login-input {
  border-bottom: 1px solid #481313;
}

.otp-input {
  display: inline-block;
  width: 58px;
  text-align: center;
  height: 55px;
  border: none;
  border-bottom: 1px solid #cccccc;
  margin: 7px;
}

.main-btn {
  margin: 0 auto;
  text-align: center;
}
