#map_canvas {
  height: 100%;
}
#map_canvas > div:first-child {
  background-color: transparent;
  background-image:
          linear-gradient(0deg, transparent 9%,
                  rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
                  rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
                  rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
                  rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
                  rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
          linear-gradient(90deg, transparent 9%,
                  rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%,
                  rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%,
                  rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%,
                  rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
                  rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);

  height:100%;
  background-size:50px 50px;
}
.google-map {
  width: 100%;
  height: 70%;
  position: relative;
}

.centerMarker {
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 45px;
  cursor: pointer;
  left: 0;
  right: 0;
  top: -25px;
  margin: auto;
  bottom: 0;
}

.centerMarker img {
  width: 100%;
}

/* Pulse effect start */
.gps_ring {
  border: 4px solid #1b0606;
  -webkit-border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  left: -27px;
  margin: 0 auto;
  top: -15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

/* Pulse effect end */
.google-map .on-current-location {
  position: absolute;
  bottom: 25px;
  background: white;
  right: 22px;
  border-radius: 50%;
  z-index: 1;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.google-map .on-current-location ion-icon {
  font-size: 25px;
}

/* start */
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  //animation-iteration-count: infinite;
  //-webkit-animation-iteration-count: ;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

//
/* end */


.bottom-fixed {
  //position: fixed;
  height: auto;
  width: 100%;
  background: #fff;
  z-index: 999;
}

.bottom-fixed .cf-add .cf-title {
  font-size: 22px;
  padding: 7px;
}

.bottom-fixed .cf-add .add-section {
  padding: 7px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bottom-fixed .cf-add .add-section p.short-label {
  margin: 0;
  font-size: 10px
}

.bottom-fixed .cf-add .add-section p span {
  color: #481313;
}

