.login-logo {
  height: 180px;
  margin: 0 auto;
  width: 230px;
}

.background {
  background-color: #481313;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.background ion-icon {
  color: #fff;
  font-size: 35px;
  top: 35px;
  left: 13px;
  position: absolute;
}

.login-area {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 150px;
  background: #ffffff;
  border-radius: 34px;
  left: 13px;
  right: 13px;
  text-align: center;
}

.content-main {
  bottom: 20px;
}

.content-main ion-row div.content-title {
  margin: 10px;
}

.content-main ion-row div.content-title p {
  font-weight: 900;
  line-height: 26.3px;
}

.content-main ion-row div.content-title h2 {
  font-weight: bold;
}

.login-form {
  width: 100%;
  position: relative;
}

button.disabled {
  opacity: 0.5;
}


