.login-logo{
  width: 140px;
  height: 100px;
  margin: 0 auto;
  margin-top: 74px;
}
.background{
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.login-input{
  border-bottom: 1px solid #2dd36f;
}
.border-btn{
  border: 1px solid #2dd36f;
  background-color: #fff;
  color: #2dd36f;
  padding: 17px;
  width: 192px;
  font-weight: 900;
  text-align: center;
  border-radius: 100px;
}
.bg-btn{
  background-color: #2dd36f;
  color: #fff;
  padding: 17px;
  width: 192px;
  font-weight: 900;
  text-align: center;
  border-radius: 100px;
}
.login-bg{
  width: 100%;
  height: 220px;
}
