<ion-content>
    <ion-toolbar>
        <ion-title class="d-inline-block h3 font-weight-bold">Login</ion-title>
        <fa-icon icon="times-circle" class="mr-4 float-right h4 font-weight-bold" (click)="dismiss()"></fa-icon>
    </ion-toolbar>
    <div class="">
        <div class="mt-3">
            <form [formGroup]="loginFrom" (ngSubmit)="onSubmit(loginFrom.value)" class="login-form">
                <div>
                    <ion-item lines="none" class="w-100 d-inline-block" [class.invalid]="isPhoneInvalid">
                        <ion-label position="floating">Phone Number</ion-label>
                        <ion-input type="text" formControlName="phone" class="theme-input" maxlength="11" pattern="[789][0-9]{9}"></ion-input>
                    </ion-item>
                    <ion-item lines="none" class="w-100 d-inline-block" [class.invalid]="isPasswordInvalid">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="password" class="theme-input"></ion-input>
                    </ion-item>
                </div>

                <span class="float-right" (click)="forgetPasswordModal()">Forget Password?</span>
                <div class="form-group text-center">
                    <button class="btn theme-btn mt-2" type="button" disabled *ngIf="isProcess">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button size="large" class="btn theme-btn mt-2" type="submit" [class.disabled]="loginFrom.invalid"
                            [disabled]="loginFrom.invalid" expand="block" *ngIf="!isProcess">Login
                    </button>
                </div>
            </form>
        </div>
        <div>
            <div class="col-12 text-center">
                <h4>Would you like to:</h4>
                <button size="large" (click)="login()" class="btn theme-btn-border m-2 btn-icon"
                        type="submit">
                    <ion-icon name="logo-facebook" style="color:blue;"></ion-icon>
                    Login with Facebook
                </button>
                <button size="large" (click)="googleSignIn()" class="theme-btn-border m-2 btn-icon" type="submit"
                        expand="block">
                    <ion-icon name="logo-google" style="color: red;"></ion-icon>
                    Login with Google
                </button>
            </div>
            <div class="col-12 text-center">
            </div>
        </div>
        <div class="text-center mt-1">
            <span>Don't have an account? <a [routerLink]="['/register']">Sign up</a></span>
        </div>

    </div>

</ion-content>
