<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" [ngClass]="{'highlight':selected}">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="restaurant">
            <ion-icon name="fast-food-outline" [ngClass]="{'highlight':selected}"></ion-icon>
        </ion-tab-button>

        <ion-tab-button >
            <ion-icon name="cart-outline" [ngClass]="{'highlight':selected}"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile" >
            <ion-icon name="person-circle-outline" [ngClass]="{'highlight':selected}"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
