<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="dismiss()"></ion-icon>
    <ion-title>search</ion-title>
    <ion-searchbar showCancelButton="never" class="app-header-search" #searchInput></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <div class="ck-list-info">
      <h4>456 tiffin services your nearby area</h4>
      <p>Find you favorite service..</p>
    </div>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
    <ion-item lines="none">
      <ion-card class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/thali.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Satnam Tiffin Service</h5>
          <div class="star-review">
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star" class="ion-star"></ion-icon>
            <ion-icon name="star-half-outline" class="ion-star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <span><strong> 4.2</strong></span>
          </div>
          <div class="card-product-info">
            <p class="card-text">Burger, Pizza, Ice-cream, Beverage.</p>
            <span class="card-text"><strong>Rs. 300 per person</strong></span>
          </div>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
