ion-toolbar ion-icon{
  position: absolute;
  left: 8px;
  top: 5px;
  font-size: 28px;
  color: #481313;
}
ion-toolbar ion-title{
  margin-left: 27px;
  font-size: 27px;
  color: #481313;
}
.app-header-search {
  color: #481313;
  border-radius: 5px;
  background: transparent;
  width: 100%;
  margin-bottom: 6px;
  text-align: left;
}
